{% extends 'homebase.html' %}
{% load currency %}
{% block title %} Order Page {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% load static %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Order Page</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div  class="row">
                <Form action="" method="post">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="billing-details">

                            <div class="section-title">
                                <h4 class="title">Shipping Details</h4>
                            </div>
                            <p><label for="id_first_name">First name:</label>
                                <input type="text" name="first_name"  value="{{ user.first_name }}" class="input" maxlength="10" required id="id_first_name"></p>
                            <p><label for="id_last_name">Last name:</label>
                                <input type="text" name="last_name"  value="{{ user.last_name }}" class="input" maxlength="10" required id="id_last_name"></p>
                            <p><label for="id_address">Address:</label>
                                <input type="text" name="address" value="{{ profile.address }}" class="input" maxlength="150" required id="id_address"></p>
                            <p><label for="id_phone">Phone:</label>
                                <input type="text" name="phone"  value="{{ profile.phone }}"  class="input" maxlength="20" required id="id_phone"></p>
                            
                            <p><label for="id_city">City:</label>
                                    <input type="text" name="city"  value="{{ profile.city }}"  class="input" maxlength="40" required id="id_city"></p>
                            
                            <p><label for="id_first_name">Country :</label>
                                <input type="text" name="country" class="input" required id="id_country" value="{{ profile.country }}"></p>
                                <input type="hidden" id="razorpay_id" name="razorpay_id" value="{{ razorpay_id }}">

                            
                        </div>
                    </div>

                    <div class="col-md-6">
                        
                        <div class="section-title">
                            <h4 class="title">Appriciation Notes</h4>
                        </div>
                    <div class="form-group">Thank You For Shopping</div>
                    <div class="form-group">Thank You For Shopping</div>
                    <div class="form-group">Thank You For Shopping</div>
                    <div id="home-slick">
                        

                        {% for rs in products_slider %}
                        
                        <!-- banner -->
                        <div class="banner banner-1">
                            <img src="{{ rs.image.url }}" alt="" >
                            
                        </div>
                        <!-- /banner -->
                        {% endfor %}
    
                    </div>
                    
                    <div class="form-group">Thank You For Shopping</div>
                    
                    <div class="form-group">Thank You For Shopping</div>
                    
                    <div class="form-group">Thank You For Shopping</div>
                        <!-- <div class="shiping-methods">
                            
                                <h4 class="title">Payment Information</h4>
                            </div>
                            <p><label for="id_first_name">Total: {{ total }} USD </label>
                                <input type="text" name="total" class="input" readonly value="₹{{ total|currency:request.session.currency }} {{ request.session.currency }}"></p>
                            <p><label for="id_first_name">Credit Card Holder</label>
                                <input type="text" name="holder" class="input"  value=""></p>
                            <p><label for="id_first_name">Credit Card Number</label>
                                <input type="text" name="number" class="input"  value=""></p>
                            <p><label for="id_first_name">Credit Exp Date/Year</label>
                                <input type="text" name="ecpdate" class="input"  placeholder="mm/yy"></p>
                            <p><label for="id_first_name">Security Number</label>
                                <input type="text" name="secnumber" class="input"  value=""></p>
                        </div> -->
                    </div>
                    <div class="pull-right">
                        <button id="rzp-button1" type="submit" class="primary-btn">Pay and Place Order</button>
                    </div>
                </Form>

                

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">SUMMARY OF ORDER</h3>
                        </div>
                                                <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for rs in shopcart %}
                                <tr>
                                    <td class="thumb">
                                        {% if rs.variant.image_id  > 0 %}
                                            <img src="{{rs.variant.image }}" alt="">
                                        {% else %}
                                            <img src="{{rs.product.image.url}}" alt="">
                                        {% endif %}

                                    </td>
                                    <td class="details">
                                        <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{rs.product}} {{ rs.variant.size }} {{ rs.variant.color }}</a>  </td>
                                    <td class="price text-center"><strong>
                                        {% if rs.product.variant == 'None' %}
                                            {{ rs.product.price|currency:request.session.currency }} {{ request.session.currency }}
                                        {% else %}
                                            {{ rs.variant.price|currency:request.session.currency }} {{ request.session.currency }}
                                        {% endif %}
                                    </strong></td>
                                    <td class="qty text-center"><strong>{{rs.quantity}}</strong></td>
                                    <td class="total text-center"><strong class="primary-color">₹
                                        {% if rs.product.variant == 'None' %}
                                            {{ rs.amount|currency:request.session.currency }} {{ request.session.currency }}
                                        {% else %}
                                            {{ rs.varamount|currency:request.session.currency }} {{ request.session.currency }}
                                        {% endif %}
                                    </strong></td>
                                    
                                </tr>

                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SUBTOTAL</th>
                                <th colspan="2" class="sub-total">{{ total|currency:request.session.currency }} {{ request.session.currency }}</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SHIPING</th>
                                <td colspan="2">Free Shipping</td>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Coupon Code</th>
                                <td colspan="2" ><Form action="" method="get">
                                    {% if coupon_code_message %}
                                    <div class="alert alert-info">
                                        {{coupon_code_message}}
                                    </div>
                                    {% endif %}
                                     <input type="text"  name="couponcode" class="input" id="id_coupon" value=""><button  type="submit" class="primary-btn">Apply</button></Form></td>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Discount Amount</th>
                                <td colspan="2">{{ Discount|currency:request.session.currency }} {{ request.session.currency }}</td>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>TOTAL</th>
                                <th colspan="2" class="total">{{ amount|currency:request.session.currency }} {{ request.session.currency }}</th>
                            </tr>
                            </tfoot>
                        </table>
                        
                        

                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <!-- /section -->
   
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        "key": "rzp_live_LJlCUJLueC7wUe", // Enter the Key ID generated from the Dashboard
        "amount": "{{razorpay_amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Biorite Healthcare",
        "description": "Product Purchase Transaction",
        "order_id": '{{payment_order}}', //This is a sample Order ID. Pass the `id` obtained in the response of Step 2
        "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        },
        "prefill": {
            "name": "{{user.first_name}}",
            "email": "@",
            "contact": "{{ profile.phone }}"
        },
        "notes": {
            "address": "Biorite Healthcare"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>
    
{% endblock %}